@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

$black-color: #000000;
$white-color: #ffffff;
$green-color: #4b9200;
$orange-color: #f9804b;
$hover-orange: #e47209;
$yellow-color: #ffee2e;
$black-blue-color: #333b41;
$red-color: #d31414;
$grey-color: #767474;
$light-grey: #e5e5e5;
$pink-gradient: #febdab;
$grey-cards: #f5f7f6;
$grey-line: #72828e;

.header-wrapper {
  background-color: $black-color;
  padding: 0 100px;
  height: 80px;
  display: flex;
  .container {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation-menu {
      display: flex;
      align-items: center;
      .logo {
        border: 1px solid $white-color;
        padding: 3px;
        margin-right: 65px;
        img {
          position: absolute;
          margin-top: -25px;
          margin-left: 6px;
        }

        h1 {
          font-size: 19px;
          font-weight: 400;
          text-align: center;
          color: $white-color;
          :hover {
            color: $orange-color;
            transition: 0.3s ease;
          }
        }
      }
      .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .menu-item {
          .menu-item-link {
            color: $white-color;
            font-size: 16px;
            font-weight: 500;
            transition: 0.3s ease;
          }
          :hover {
            color: $orange-color;
          }
          :active {
            color: $green-color;
          }
          .checked {
            color: $orange-color;
          }
        }
        .menu-item:not(:last-child) {
          margin-right: 58px;
        }
      }
    }
    .designed-link {
      a {
        font-size: 16px;
        color: $white-color;
        font-weight: 500;
      }
      :hover {
        color: $orange-color;
        transition: 0.3s ease;
      }
    }
  }
}
main {
  .about {
    .welcome-section {
      background-image: url("./assets/images/Giant_Panda.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      background-position-y: -80px;
      .section-wrapper {
        padding: 0 100px;
        height: 780px;
        display: flex;
        .container {
          margin: 0 auto;
          max-width: 1160px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .text-conrainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -100px;
            margin-right: 12px;
            .round {
              position: absolute;
              border: 1px solid $orange-color;
              border-radius: 50%;
              background-color: $orange-color;
              width: 465px;
              height: 465px;
              z-index: 1;
              margin-top: -75px;
              margin-left: -183px;
            }
            p {
              font-weight: 700;
              font-size: 106px;
              color: $white-color;
              line-height: 75%;
              z-index: 2;
            }
            .last-element-text {
              margin-bottom: 60px;
            }
            .text-conrainer-item {
              color: $yellow-color;
            }
            .text-container-button {
              border-radius: 25px;
              background-color: $orange-color;
              padding: 16px;
              width: 299px;
              height: 52px;
              cursor: pointer;
              color: $white-color;
              transition: 0.3s ease;
            }
            .text-container-button:hover {
              background-color: $hover-orange;
            }
            .text-container-button:active {
              background-color: $green-color;
            }
          }
        }
      }
    }
    .backstage-section {
      .section-wrapper {
        padding: 0 100px;
        height: 720px;
        display: flex;
        background-color: #e5e5e5;
        .container {
          margin: 0 auto;
          max-width: 1160px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          // align-items: center;
          margin-top: 140px;
          .backstage-content-image {
            width: 609px;
            height: 403px;
            margin-right: 87px;
          }
          .backstage-text {
            .backstage-text-title {
              font-weight: 400;
              color: $black-blue-color;
              font-size: 48px;
              margin-bottom: 20px;
              line-height: 120%;
            }
            .backstage-text-subtitle {
              font-weight: 400;
              font-size: 16px;
              color: $black-blue-color;
              line-height: 140%;
            }
            .subtitle-one {
              margin-bottom: 53px;
            }
            .backstage-text-title-second {
              font-weight: 400;
              font-size: 24px;
              color: $black-blue-color;
              margin-bottom: 33px;
            }
          }
          .flower-element {
            position: absolute;
            width: 204px;
            height: 605px;
            right: 0;
            margin-top: -125px;
          }
        }
      }
    }
    .pets-section {
      .section-wrapper {
        padding: 0 100px;
        height: 100%;
        display: flex;
        background-color: #e5e5e5;
        .container {
          margin: 0 auto;
          max-width: 1324px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .cards-slider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;
            .arrow {
              background-color: $orange-color;
              border-radius: 50%;
              width: 120px;
              height: 62px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.3s ease;
            }
            .arrow:hover {
              background-color: $hover-orange;
            }
            .arrow:active {
              background-color: $green-color;
            }
            .cards {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              gap: 20px 30px;
              .cards-item {
                border: 1px solid $orange-color;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                height: 100%;
                .cards-item-img {
                  width: 366px;
                  height: 366px;
                  transition: transform 0.25s ease-out;
                }

                .card-content {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 8px 16px;

                  .card-content-text {
                    .card-title {
                      font-weight: 500;
                      font-size: 16px;
                      color: $black-color;
                      text-transform: uppercase;
                    }
                    .card-subtitle {
                      font-weight: 300;
                      font-size: 15px;
                      color: $black-color;
                    }
                  }
                }
                .card-float-text {
                  background: rgba(0, 0, 0, 0.7);
                  color: $white-color;

                  width: 100%;
                  padding: 10px;
                  position: absolute;
                  bottom: -107%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  transition-property: bottom;
                  transition-duration: 0.7s;
                  .card-title {
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                  }
                  .card-subtitle {
                    font-weight: 300;
                    font-size: 15px;
                  }
                }
              }
              .cards-item:hover {
                .cards-item-img {
                  position: relative;
                  transform: scale(1.4);
                }
                .card-content-text {
                  visibility: hidden;
                }
                .card-content img {
                  visibility: hidden;
                }
                .card-float-text {
                  position: absolute;
                  bottom: 0;
                }
              }
            }
          }
          .cards-button {
            background-color: $orange-color;
            border: 1px solid $orange-color;
            width: 298px;
            border-radius: 25px;
            color: $white-color;
            padding: 16px 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s ease;
            margin-bottom: 105px;
          }
          .cards-button:hover {
            background-color: $hover-orange;
            border-color: $hover-orange;
          }
          .cards-button:active {
            background-color: $green-color;
            border-color: $green-color;
          }
          .pets-element {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            text-align: justify;
            .pets-element-palm {
              position: absolute;
              left: 0;
              width: 290px;
              height: 450px;
            }
            .pets-element-strelitsia {
              position: absolute;
              right: 0;
              padding-bottom: 0;
              width: 368px;
              height: 275px;
            }
          }
        }
      }
    }
    .peek-section {
      .section-wrapper {
        padding: 0 100px;
        height: 100%;
        display: flex;
        background-color: $pink-gradient;
        .container {
          margin: 0 auto;
          max-width: 1160px;
          width: 100%;
          background: rgba(253, 253, 255, 0.52);
          backdrop-filter: blur(2px);
          border-radius: 20px;
          margin-top: 69px;
          margin-bottom: 100px;
          .peek-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 100px;
            .peek-title {
              font-weight: 400;
              font-size: 48px;
              text-align: center;
              color: $orange-color;
              margin-bottom: 35px;
            }
            .peek-subtitle {
              font-weight: 400;
              font-size: 24px;
              color: $black-blue-color;
              margin-bottom: 40px;
              text-align: left;
            }
            .peek-text {
              font-weight: 500;
              font-size: 16px;
              color: $black-blue-color;
              margin-bottom: 10px;
              line-height: 21px;
            }
            .peek-text-more {
              font-weight: 400;
              font-size: 16px;
              color: $black-blue-color;
              margin-bottom: 43px;
              line-height: 21px;
              a {
                border-bottom: 1px solid $orange-color;
              }
            }
            .peek-title-second {
              font-weight: 400;
              font-size: 36px;
              color: $black-blue-color;
              margin-bottom: 40px;
              text-align: center;
            }
            .peek-content {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              padding-left: 98px;
              padding-right: 98px;
              margin-bottom: 67px;
              .peek-content-item {
                overflow: hidden;

                .peek-content-img {
                  border: 1px solid $orange-color;
                  background-color: $white-color;
                  border-radius: 5px;
                  margin-bottom: 30px;
                  width: 168px;
                  height: 168px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .img-pay {
                    width: 108px;
                    height: 60px;
                  }
                  .img-zoo {
                    width: 85px;
                    height: 95px;
                  }
                  .img-monkey {
                    width: 125px;
                    height: 72px;
                  }
                }
                p {
                  font-weight: 400;
                  font-size: 16px;
                  color: $black-blue-color;
                }
              }
              .arrow {
                margin-top: 60px;
                img {
                  width: 70px;
                }
              }
            }
            .feed-button {
              color: $white-color;
              font-weight: 500;
              font-size: 16px;
              background-color: $orange-color;
              border-radius: 25px;
              width: 300px;
              padding: 16px;
              cursor: pointer;
              margin: 0 auto;
              height: 54px;
              margin-bottom: 20px;
            }
            .feed-button:hover {
              background-color: $hover-orange;
            }
            .feed-button:active {
              background-color: $green-color;
            }
          }
        }
      }
    }
    .testimonials-section {
      .section-wrapper {
        padding: 0 100px;
        height: 100%;
        display: flex;
        background-color: $light-grey;
        .container {
          margin: 0 auto;
          max-width: 1160px;
          width: 100%;
          display: flex;
          align-items: stretch;
          justify-content: center;
          flex-direction: column;
          .testimonials-title {
            font-weight: 400;
            font-size: 36px;
            text-align: center;
            color: $black-blue-color;
            margin-top: 143px;
            margin-bottom: 47px;
          }
          .testimonials-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 3px;
            .testimonials-card-item {
              background-color: $grey-cards;
              border: 1px solid $pink-gradient;
              border-radius: 20px;
              width: 268px;
              padding: 19px 15px;
              overflow: hidden;
              .card-header {
                .card-header-content {
                  display: flex;
                  img {
                    margin-right: 10px;
                    margin-bottom: 10px;
                  }
                  .card-header-title {
                    h4 {
                      font-weight: 400;
                      font-size: 16px;
                      color: $black-color;
                    }
                    p {
                      font-weight: 300;
                      font-size: 15px;
                      color: #bdbdbd;
                      line-height: 18px;
                    }
                  }
                }
                .card-text {
                  height: 309px;
                  overflow: hidden;
                  p {
                    font-weight: 300;
                    font-size: 15px;
                    color: $grey-color;
                    line-height: 18px;
                  }
                }
              }
            }
            .testimonials-card-item:not(:last-child) {
              margin-right: 30px;
            }
          }
          .testimonials-slider {
            text-align: center;
            input[type="range"] {
              -webkit-appearance: none;
              margin: 18px 0;
              width: 600px;
              border-radius: 5px;
              margin-bottom: 31px;
            }
            input[type="range"]:focus {
              outline: none;
            }
            input[type="range"]::-webkit-slider-runnable-track {
              width: 100%;
              height: 6px;
              cursor: pointer;
              background: $grey-cards;
              border-radius: 5px;
              border: 0.2px solid $orange-color;
            }
            input[type="range"]::-webkit-slider-thumb {
              border: 1px solid $orange-color;
              height: 5px;
              width: 115px;
              border-radius: 5px;
              background: $orange-color;
              cursor: pointer;
              -webkit-appearance: none;
              margin-top: 0px;
            }
            input[type="range"]:hover::-webkit-slider-thumb {
              background: $hover-orange;
              border-color: $hover-orange;
            }
            input[type="range"]:hover::-webkit-slider-runnable-track {
              border-color: $hover-orange;
            }
            input[type="range"]:active::-webkit-slider-thumb {
              background: $green-color;
              border-color: $green-color;
            }
            input[type="range"]:active::-webkit-slider-runnable-track {
              border-color: $green-color;
            }
          }
          .content-feedback-button {
            display: flex;

            .feedback-button {
              background-color: $orange-color;
              font-size: 16px;
              color: $white-color;
              font-weight: 500;
              text-transform: uppercase;
              height: 54px;
              width: 298px;
              padding: 16px;
              border-radius: 5px;
              margin-bottom: 180px;
              cursor: pointer;
            }
            .feedback-button:hover {
              background-color: $hover-orange;
            }
            .feedback-button:active {
              background-color: $green-color;
            }
          }
          .testimonials-element {
            display: flex;
            align-items: flex-end;
            text-align: justify;
            img {
              position: absolute;
              right: 0;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
  .donate {
    // display: none;
    .welcome-section {
      background-image: url("./assets/images/Giant_Panda.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: -200px;
      height: 390px;
    }
    .donation-section {
      .section-wrapper {
        padding: 40px 100px 180px 100px;
        display: flex;
        background: linear-gradient(
            315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%
          ),
          linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          ),
          linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
          );
        .container {
          margin: 0 auto;
          max-width: 1160px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .donation-title {
            font-weight: 400;
            font-size: 36px;
            color: $white-color;
            margin-bottom: 10px;
          }
          .donate-subtitle {
            font-weight: 500;
            font-size: 16px;
            color: $white-color;
            margin-bottom: 50px;
            line-height: 22px;
          }
          .donation-info-title {
            font-weight: 400;
            font-size: 36px;
            color: $orange-color;
            margin-bottom: 60px;
          }
          .block-peek {
            background: rgba(255, 255, 255, 0.52);
            backdrop-filter: blur(2px);
            border-radius: 20px;
            .block-peek-container {
              padding: 40px 92px 62px 92px;
              .block-peek-title {
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: $orange-color;
                margin-bottom: 25px;
              }
              .block-peek-subtitle {
                font-weight: 400;
                font-size: 24px;
                color: $black-blue-color;
              }
              .panda-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin-top: 65px;
                margin-bottom: 50px;
                .day-block {
                  margin-top: 35px;
                  .day-diet {
                    font-weight: 500;
                    font-size: 72px;
                    text-transform: uppercase;
                    color: $black-color;
                    text-align: center;
                  }
                  .day-text {
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    color: $black-blue-color;
                  }
                }
                .math-icon {
                  // margin-right: 64px;
                }
              }
              .amount-block {
                margin-bottom: 100px;
                .title-amount {
                  font-weight: 400;
                  font-size: 16px;
                  color: $black-color;
                  margin-bottom: 15px;
                }
                .costline-wrapper {
                  background-color: $black-blue-color;

                  height: 27px;
                  border-radius: 2px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .costline {
                    background-color: $grey-line;
                    height: 2px;
                    width: 921px;
                    position: relative;
                    .dot {
                      z-index: 99;
                      transition: 0.3s ease-in-out;
                      width: 10px;
                      height: 10px;
                      border-radius: 50%;
                      position: absolute;
                      top: -5px;
                      text-align: center;
                      cursor: pointer;
                      &:nth-child(1) {
                        left: 0%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(2) {
                        left: 13.5%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(3) {
                        left: 28.5%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(4) {
                        left: 42%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(5) {
                        left: 56.5%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(6) {
                        left: 70.5%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(7) {
                        left: 84%;
                        background-color: $yellow-color;
                      }
                      &:nth-child(8) {
                        left: 99%;
                        background-color: $yellow-color;
                      }
                      p {
                        font-weight: 500;
                        font-size: 26px;
                        color: $black-blue-color;
                        display: block;
                        position: absolute;
                        top: 35px;
                        text-align: center;
                        width: 100px;
                        margin-left: -40px;
                        transition: 0.3s ease;
                      }
                      .round {
                        border: 2px solid $orange-color;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        margin-top: -17px;
                        margin-left: -17px;
                        display: none;
                      }
                      .mini-round {
                        border: 2px solid $orange-color;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;

                        margin-top: -34px;
                        margin-left: -7px;
                        display: none;
                      }
                    }
                    .dot:hover, .checked {
                      p {
                        color: $orange-color;
                      }
                      .round {
                        display: block;
                      }
                      .mini-round {
                        display: block;
                      }
                    }
                  }
                }
              }
              .amount-another {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
                input {
                  border: 1px solid $grey-color;
                  border-radius: 2px;
                  width: 250px;
                  background-color: transparent;
                  color: $grey-color;
                  padding: 16px 9px;
                  font-size: 16px;
                  font-weight: 400;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                p {
                  color: $grey-color;
                  font-weight: 500;
                  font-size: 23px;
                  position: absolute;
                  margin-left: 241px;
                  margin-top: 14px;
                }
              }
              .amount-radio {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 35px;
                input {
                  appearance: none;
                  background-color: transparent;
                  margin: 0;
                  font: inherit;
                  color: currentColor;
                  width: 16px;
                  height: 16px;
                  border: 1px solid $orange-color;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 10px;
                }

                input::before {
                  content: "";
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  transform: scale(0);
                  transition: 120ms transform ease-in-out;
                  box-shadow: inset 1em 1em $hover-orange;
                }

                input:checked::before {
                  transform: scale(1);
                }
                label:not(:last-child) {
                  margin-right: 50px;
                }
              }
              .amount-button {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                button {
                  background-color: $orange-color;
                  color: $white-color;
                  font-size: 16px;
                  font-weight: 500;
                  border-radius: 25px;
                  width: 298px;
                  padding: 16px 0px;
                  cursor: pointer;
                  margin-bottom: 35px;
                  text-transform: uppercase;
                }
                button:hover {
                  background-color: $hover-orange;
                }
                button:active {
                  background-color: $green-color;
                }
                p {
                  font-weight: 400;
                  font-size: 16px;
                  color: $black-blue-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
  .footer-wrapper {
    background-color: $black-color;
    padding: 0 100px;
    display: flex;
    align-items: center;
    .container {
      margin: 0 auto;
      max-width: 1160px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 41px;
      margin-bottom: 50px;
      .subscribe-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .logo {
          border: 1px solid $white-color;
          padding: 3px;
          margin-right: 63px;
          img {
            position: absolute;
            margin-top: -25px;
            margin-left: 6px;
          }

          h2 {
            font-size: 19px;
            font-weight: 400;
            text-align: center;
            color: $white-color;
            :hover {
              color: $orange-color;
              transition: 0.3s ease;
            }
          }
        }
        .subscribe {
          display: flex;
          flex-direction: column;
          h2 {
            color: $white-color;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 15px;
          }
          .subscribe-form {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            input[type="email"] {
              border: 1px solid $orange-color;
              border-radius: 2px;
              background-color: transparent;
              padding: 10px 7px;
              width: 212px;
              margin-right: 5px;
              color: $white-color;
            }
            input[type="email"]:optional {
              border: 1px solid $orange-color;
              color: $orange-color;
            }
            input[type="email"]:focus:invalid {
              border: 1px solid $red-color;
              color: $red-color;
            }
            input[type="email"]:focus:valid {
              border: 1px solid $green-color;
              color: $green-color;
            }

            input[type="submit"] {
              width: 130px;
              height: 100%;
              border: 1px solid #333b41;
              border-radius: 2px;
              color: $black-blue-color;
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
              transition: 0.3s ease;
            }
            input[type="submit"]:hover {
              border: 1px solid $hover-orange;
              color: $hover-orange;
            }
            input[type="submit"]:active {
              border: 1px solid $green-color;
              color: $green-color;
            }
          }
          form:invalid {
            input[type="submit"] {
              border: 1px solid $red-color;
              color: $red-color;
            }
          }
          form:valid {
            input[type="submit"] {
              border: 1px solid $green-color;
              color: $green-color;
            }
          }
        }
      }
      .button-donate {
        margin-bottom: 44px;
        button {
          background-color: $orange-color;
          padding: 16px;
          font-size: 16px;
          font-weight: 500;
          border-radius: 5px;
          color: $white-color;
          cursor: pointer;
          width: 298px;
        }
        button:hover {
          background-color: $hover-orange;
          transition: 0.3s ease;
        }
        button:active {
          background-color: $green-color;
          transition: 0.3s ease;
        }
      }
      .footer-navigation {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        .footer-social {
          .menu-list {
            display: flex;
            flex-direction: column;
            .menu-item {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              a {
                display: flex;
                align-items: center;
                .item-img {
                  width: 14px;
                  height: 14px;
                  background-color: $grey-color;
                  padding: 5px;
                  border: 1px solid $grey-color;
                  border-radius: 50%;
                  margin-right: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: 0.3 ease;
                }
                .item-text {
                  color: $white-color;
                  transition: 0.3 ease;
                }
              }
            }
            .menu-item:not(:last-child) {
              margin-bottom: 10px;
            }
            .menu-item:hover {
              .item-text {
                color: $hover-orange;
                transition: 0.3s ease;
              }
              .item-img {
                background-color: $hover-orange;
                border-color: $hover-orange;
              }
            }
            .menu-item:active {
              .item-text {
                color: $green-color;
              }
              .item-img {
                background-color: $green-color;
                border-color: $green-color;
              }
            }
          }
        }
        .footer-menu {
          .menu-list {
            display: flex;
            flex-direction: row;
            margin-right: -230px;
            .menu-item {
              .menu-item-link {
                color: $white-color;
                font-size: 16px;
                font-weight: 500;
              }
              .checked {
                color: $orange-color;
              }
              :hover {
                color: $orange-color;
                transition: 0.3s ease;
              }
            }
            .menu-item:not(:last-child) {
              margin-right: 58px;
            }
          }
        }
        .footer-designed {
          display: flex;
          flex-direction: column;
          p {
            color: $white-color;
            font-weight: 100;
            font-size: 16px;
          }
          p:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
